# --- Java & Maven ---
target/
*.class
*.jar
*.war
*.ear

# --- IDEs (IntelliJ, Eclipse, VS Code) ---
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
bin/

# --- Docker ---
.docker/
# Si guardas logs de docker localmente, ignóralos
*.log

# --- Sistema Operativo ---
.DS_Store
Thumbs.db